.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; /* 5 * 0.25rem */
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;

    margin: 0 auto;
  }